<h1>Hangman</h1>

<div class="game">

  <div class="hanging-man" style="margin: 15px">
    <img src="#" alt="test">
  </div>

  <h2>Gesuchtes Wort</h2>
  <div class="word">
    <div *ngFor="let letter of lettersOfCurrentWord">
      <div class="letter-box">
        <p *ngIf="letter.isVisible === true" class="letter">{{letter.char}}</p>
      </div>
    </div>
  </div>

  <hr>

  <h2>Buchstaben zur Auswahl</h2>
  <div class="alphabet">
    <div *ngFor="let alphabetLetter of alphabet" (click)="guessLetter(alphabetLetter)"
         [class.disabled]="guessedLetters.includes(alphabetLetter)"
    >
      <div class="letter-box">{{alphabetLetter}}</div>
    </div>
  </div>

  <hr>

  <h2>Deine Versuche</h2>
  <div class="tries">
    <div *ngFor="let guessedLetter of guessedLetters">
      <div class="letter-box">{{guessedLetter}}</div>
    </div>
  </div>

</div>


<div class="winner"  *ngIf="gameFinished">
  <h2>Du hast gewonnen, das Wort war: {{currentWord.toUpperCase()}}</h2>
<button (click)="startGame()">Neues Spiel?</button>
</div>

