<h1>Hangman</h1>

<div class="game">

  <app-hanging-man [faults]="faults" [gameFinished]="gameFinished"></app-hanging-man>

  <h2>Gesuchtes Wort</h2>
  <div class="word">
    <div *ngFor="let letter of lettersOfCurrentWord">
      <div class="letter-box" [class.visible]="letter.isVisible">
        <p *ngIf="letter.isVisible === true" class="letter">{{letter.char.toUpperCase()}}</p>
      </div>
    </div>
  </div>


  <div class="alphabet" *ngIf="!gameFinished">
    <div *ngFor="let alphabetLetter of alphabet"
         (click)="guessLetter(alphabetLetter)"
         [class.disabled]="guessedLetters.includes(alphabetLetter) || faults === 12"
    >
      <div class="letter-box" *ngIf="!guessedLetters.includes(alphabetLetter)">{{alphabetLetter.toUpperCase()}}</div>
    </div>
  </div>

  <div class="winner" *ngIf="gameFinished || faults === 12">
    <button (click)="startGame()">Neues Spiel?</button>
  </div>

</div>



