<main>

  <div class="hanging-man">

    <div *ngIf="faults >= 12" class="lost-box">
      <img src="assets/lost.png" alt="lost" class="lost-pic">
    </div>
    <div *ngIf="faults < 12 && gameFinished" class="won-box">
      <img src="assets/won.png" alt="won" class="won-pic">
    </div>

    <div class="one" *ngIf="faults >= 1"></div>
    <div class="two" *ngIf="faults >= 2"></div>
    <div class="three" *ngIf="faults >= 3"></div>
    <div class="four" *ngIf="faults >= 4"></div>
    <div class="five" *ngIf="faults >= 5"></div>
    <div class="man">
      <div class="six" *ngIf="faults >= 6"></div>
      <div class="seven-head" *ngIf="faults >= 7"></div>
      <div class="eight-body" *ngIf="faults >= 8"></div>
      <div class="nine-arm-left" *ngIf="faults >= 9"></div>
      <div class="ten-arm-right" *ngIf="faults >= 10"></div>
      <div class="eleven-leg-right" *ngIf="faults >= 11"></div>
      <div class="twelve-leg-left" *ngIf="faults >= 12"></div>
    </div>
  </div>


</main>
