/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  background-color: #fffcef;
}

h1, h2, h3 {
  color: mediumvioletred;
  text-shadow: 1px 1px 2px black;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
